.navigate-icon:hover {
    cursor: pointer;
}

.response-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.edit-icon:hover {
    cursor: pointer;
    color: rgb(100, 100, 100);
}