#app {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  transition: all 0.5s ease;
}

#main-content {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* #main-content::-webkit-scrollbar {
  display: none;
} */

.action-icon:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
}

.rounded-corner-container {
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 1px;
}

.column-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.header-block {
  background-color: rgb(86, 143, 150);
  font-variant: small-caps;
  font-size: 1.25em;
  padding: 8px;
  color: white;
  line-height: 1.5;
  font-weight: bold;
}