.data-table {
    table-layout: fixed;
    min-height: 0;
    max-height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
}

.data-table td {
    padding: 10px;
    text-align: justify;
}

.query-column {
    width: 35%;
    vertical-align: top;
}

.query-column > div {
    /* display: -webkit-box;
    -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.response-column {
    width: 65%;
    vertical-align: top;
}

.single-response-content {
    /* display: -webkit-box;
    -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
}

.query-column.header {
    border-top-left-radius: 8px;
}

.response-column.header {
    border-top-right-radius: 8px;
}

/* .data-table tr:nth-child(2n) {
    background-color: #eee;
}

.data-table tr:nth-child(2n + 1) {
    background-color: #fff;
} */

.even-row {
    background-color: #eee;
}

.odd-row {
    background-color: #fff;
}

.data-table th {
    font-size: 1.25em;
    padding: 8px;
    background-color: rgb(73, 160, 154);
    color: white;
    line-height: 1.5;
}

.data-table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.data-table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.table-body > tr.main-tr:not(.on-hovering):hover,
.table-body > tr.main-tr:not(.on-hovering):hover + .score-slider:not(.on-hovering),
.table-body > tr.score-slider:not(.on-hovering):hover,
.table-body > tr.main-tr:not(.on-hovering):has(+ .score-slider:hover) {
    background-color: #d6d6d6;
    cursor: pointer;
}

.score-slider input:hover {
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #afcecc;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type="range"],
input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #afcecc;
    outline: none;
    transition: opacity 0.2s;
}

.score-slider {
    --thumb-size: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    background: #49a099;
    cursor: pointer;
    outline: none;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    background: #49a099;
    cursor: pointer;
    outline: none;
    z-index: 10;
}

input[type="range"]:focus {
    outline: none;
}

.label-container {
    margin-top: 0.5rem;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 25px;
}

.label-slider {
    position: absolute;
}

.label-slider:nth-child(1) {
    left: 0;
    transform: translateX(calc(var(--thumb-size) / 2 - 50%));
}

.label-slider:nth-child(2) {
    left: 25%;
    transform: translateX(calc(var(--thumb-size) / 4 - 50%));
}

.label-slider:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
}

.label-slider:nth-child(4) {
    left: 75%;
    transform: translateX(calc(-1 * var(--thumb-size) / 4 - 50%));
}

.label-slider:nth-child(5) {
    left: 100%;
    transform: translateX(calc(-1 * var(--thumb-size) / 2 - 50%));
}
