.output-content-area {
    resize: none;
    overflow-y: auto;
    outline: none;
    border: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
    font-family: inherit;
    color: inherit;
    /* flex-grow: 1; */
}
